* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body{
    margin-top: 100px;
    background-color: rgba(250, 160, 160, 0.397);
    font: normal 15pt Arial;
}

header h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Bungee Tint", sans-serif;

}
header img{
    width: 28px;
    margin-right: 8px;
    border-radius: 5px;
}
.opcao img{
    width: 30px;
    height: 25px;
    margin: none;
}
form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);

}
form input{
    padding: 9px;
    width: 100%;
    margin: 8px auto ;
}
.opcao{
    display: flex;
    width: 15px;
    gap: 15px;
    margin: 8px;
}

button{
    width: 150px;
    height: 35px;
    border: 3px solid white;
    border-radius: 8px;
    background-color: rgba(192, 7, 7, 0.877);
    color: white;
    margin-top: 18px;
}
select#flista{
    width: 100%;
}

footer{
    color: rgba(250, 13, 13, 0.493);
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

h2{
    font-size: 25px;
    width: 70%;
    border: 3px solid rgb(185, 1, 1);
    border-radius: 10px;
    background-color: rgb(185, 1, 1);
    color: white;
    margin: 45px auto;
    justify-content: center;
    display: flex;
    
}
.tabela-horizontal{
    display: flex;
    justify-content: center;

}
.tabela-horizontal {
    border-collapse: collapse; 
    width: 100%; 
}

.tabela-horizontal th, .tabela-horizontal td {
    border: 1px solid #fa0303; 
    padding: 8px; 
    text-align: left; 
}

.tabela-horizontal th {
    background-color: #f2f2f2; 
}

.lista th {
    padding-right: 350px;
    color: rgb(185, 1, 1);
    border: none;
    border-bottom: 2px solid rgb(185, 1, 1);
 }
 